{{#each heros as |hero|}}
  {{log hero}}
<div class="col-2 hero_icon_margin">
    <img class="hero_icon" value="{{hero.id}}" id="{{hero.id}}" src="{{hero.icon}}" alt="Icon" width="60vh" height="60vh">
</div>
{{/each}}
