@import '~bootstrap/scss/bootstrap';
// @import url('https://fonts.googleapis.com/css?family=Raleway:200');

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  font-family: Arial, sans-serif;
  background: url("https://i.imgur.com/zRvYp9k.png") no-repeat;
  background-size: cover;
  // height: 100vh;
  width: 100vw;
}

button {
  // background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  // padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  // font-size: 16px;
  // margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.bs-example{
  margin: 20px;
  border: 5px outset rgba(49,211,242,0.44);
  // border-radius: 40px 40px 40px 40px;
}

.success {
  color: #008000;
}

.failure {
  color: #ff0000;
}

.wordRed {
  color:red;
}

.all_teams_information {
  // display: flex;
}

.one_part_of_the_list {
  margin: 2vh auto;
  // border: 1px solid black;
  border-bottom: 3px solid grey;
  border-radius: 0px 0px 10px 10px;
  width: 15vw;
}

.sign_in_and_sign_up {
  margin-top: 19vh;
  // border: 1px solid black;
  // background-color: white;
}

.sign_in {
  // border: 1px solid black;
}

.sign_up {
  // border: 1px solid black;
}

.box {
  // border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.signUpButton_nav {
  color: rgba(49,211,242,0.44);
  // padding: 20px 40px;
  margin: 0 10px;
	background: none;
	border: none;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	cursor: pointer;
  // border: 2px solid red;
  &::after {
    content: '';
  		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		border: 2px solid rgba(49,211,242,0.44);
  		transition: transform .2s ;
      transform: translate(3px, 3px);
  }
  &::before {
    content: '';
  		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		border: 2px solid rgba(49,211,242,0.44);
  		transition: transform .2s ;
      transform: translate(-3px, -3px);
  }
  &:hover{
    &::after, &::before {
      transform: translate(0);
    }
  }
}

.signUpButton {
  color: red;
  padding: 20px 40px;
	background: none;
	border: none;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	cursor: pointer;
  // border: 2px solid red;
  &::after {
    content: '';
  		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		border: 2px solid red;
  		transition: transform .2s ;
      transform: translate(3px, 3px);
  }
  &::before {
    content: '';
  		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		border: 2px solid red;
  		transition: transform .2s ;
      transform: translate(-3px, -3px);
  }
  &:hover{
    &::after, &::before {
      transform: translate(0);
    }
  }
}

.question {
    position: relative;
    padding: 10px 0;

    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }

    .fancy_input {
      // @extend .transition;
      appearance: none;
      background-color: none;
      border: 1px solid $red;
      line-height: 0;
      font-size: 17px;
      width: 100%;
      display: block;
      box-sizing: border-box;
      padding: 10px 15px;
      border-radius: 60px;
      color: $red;
      font-weight: 100;
      // letter-spacing: 0.01em;
      position: relative;
      z-index: 1;
      }

.news {
  margin: 0 auto;
  width: 50vw;
}

.div_news {
  height: 400px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 50px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

small {
  opacity: 0;
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

.first{
  background-image: url("https://i.imgur.com/OhWvJxb.jpg");
}
.second{
  background-image: url("https://i.imgur.com/RhvPBCf.jpg");
}
.dessert{
  background-image: url("https://i.imgur.com/ihD32zy.jpg");
}
.price {
  float: right;
}
@media (max-width: 500px) {
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 16px;
  }
}

.all_team_function {

}

// // popup
// .overlay {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: rgba(0, 0, 0, 0.7);
//   transition: opacity 500ms;
//   visibility: hidden;
//   opacity: 0;
// }
// .overlay:target {
//   visibility: visible;
//   opacity: 1;
// }
//
// .popup {
//   margin: 70px auto;
//   padding: 20px;
//   background: #fff;
//   border-radius: 5px;
//   width: 30%;
//   position: relative;
//   transition: all 5s ease-in-out;
// }
//
// .popup h2 {
//   margin-top: 0;
//   color: #333;
//   font-family: Tahoma, Arial, sans-serif;
// }
// .popup .close {
//   position: absolute;
//   top: 20px;
//   right: 30px;
//   transition: all 200ms;
//   font-size: 30px;
//   font-weight: bold;
//   text-decoration: none;
//   color: #333;
// }
// .popup .close:hover {
//   color: #06D85F;
// }
// .popup .content {
//   max-height: 30%;
//   overflow: auto;
// }

// @media screen and (max-width: 700px){
//   .box{
//     width: 70%;
//   }
//   .popup{
//     width: 70%;
//   }
// }

.red {
  // background-color: red;
  // border: 1px solid black;
  height: 80vh;
}

.green {
  // background-color: green;
}

.blue {
  // background-color: blue;
}

/* Popup box BEGIN */
.hover_bkgr_fricc {
  background: rgba(0, 0, 0, .4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    // cursor: pointer;
    // font-size: 20px;
    // margin: 20px;
    // display: inline-block;
    // font-weight: bold;
}
/* Popup box BEGIN */

/* Popup box BEGIN */
.heroInfo {
  background: rgba(0, 0, 0, .4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.heroInfo .helperhero{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.heroInfo > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButtonhero {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButtonhero:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    // cursor: pointer;
    // font-size: 20px;
    // margin: 20px;
    // display: inline-block;
    // font-weight: bold;
}
/* PoheroInfo*/

form {
  margin-top: 1vh;
}

.hero_icon_display {
  display: flex;
  padding-top: 2vh;
}

.icon_image {

}

.hero_icon_margin {
  padding: 0;
  margin-top: 1vh;
}

// drop_down_box_2 begin
// @import "compass/css3";

// @import "compass";
// @import url("https://fonts.googleapis.com/css?family=Lato");
//
// $background: #e74c3c;
// $select-color: #fff;
// $select-background: #c0392b;
// $select-width: 220px;
// $select-height: 40px;
//
// .select-hidden {
//   display: none;
//   visibility: hidden;
//   padding-right: 10px;
// }
// .select {
//   cursor: pointer;
//   display: inline-block;
//   position: relative;
//   font-size: 16px;
//   color: $select-background;
//   width: $select-width;
//   height: $select-height;
// }
// .select-styled {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: $select-color;
//   padding: 8px 15px;
//   // @include transition(all 0.2s ease-in);
//   &:after {
//     content:"";
//     width: 0;
//     height: 0;
//     border: 7px solid transparent;
//     border-color: $select-color transparent transparent transparent;
//     position: absolute;
//     top: 16px;
//     right: 10px;
//   }
//   &:hover {
//     background-color: darken($select-color, 2);
//   }
//   &:active, &.active {
//     background-color: darken($select-color, 5);
//     &:after {
//       top: 9px;
//       border-color: transparent transparent $select-color transparent;
//     }
//   }
// }
//
// .select-options {
//   display: none;
//   position: absolute;
//   top: 100%;
//   right: 0;
//   left: 0;
//   z-index: 999;
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   background-color: darken($select-color, 5);
//   li {
//     margin: 0;
//     padding: 12px 0;
//     text-indent: 15px;
//     border-top: 1px solid darken($select-color, 10);
//     // @include transition(all 0.15s ease-in);
//     &:hover {
//       color: $select-background;
//       background: $select-color;
//     }
//     &[rel="hide"] {
//       display: none;
//     }
//   }
// }
// drop_down_box_2 end


.XXX {
  cursor: pointer;
  display: flex;
  // padding-left: 90%;
  justify-content: flex-end;
  font-size: 1rem;
  color: red;
}

.chart_js {
  justify-content: center;
}

.myChart3, .myChart4 {
  // align-items: center;
  justify-content: center;
  width: 80vh;
  height: 80vh;
  margin: auto;
}
